#carousel-result {
	height:650px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 30%;
	color: #FFF;
}

#carousel-detail {
	margin-top: 350px;
}

#carousel-more {
	margin-top: 40px;
	outline: 2px #FFF solid;
}

.main-button {
	height: 130px;
	background-position: center;
	background-size: cover;
}